body {
  margin: 0;
  background-color: #0b0f19;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.App {
  text-align: center;
}
.primary-button {
  background: #a88bff;
  border: none;
  color: white;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.primary-button:hover{
  background: #8b6eff;
}
